FAST2SMS_API_KEY="your_mansion_fast2sms_api_key_here"
MANSION_WHATSAPP_MODE="MOCK"
MANSION_WHATSAPP_SENDER_NUMBER="+919442728914"

MANSION_RENTAL_TEMPLATE_NAME="mansion_rental_alert"
MANSION_RENTAL_TEMPLATE_ID="856031830338590"
MANSION_RENTAL_MESSAGE_ID="22033"

MANSION_ATTENDANCE_TEMPLATE_NAME="mansion_staff_attendance_alert"
MANSION_ATTENDANCE_TEMPLATE_ID="989930947108230"
MANSION_ATTENDANCE_MESSAGE_ID="22032"
